## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [8]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
words2 =[]
for i in words:
    words2.append(i.upper())
print(words2)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [9]:
lista_de_nombres = ["marion","tomas","mariela","jesus","sofia"]

**Print the first word starting with "t"**

In [27]:
for i in lista_de_nombres: 
    i.startswith("t")
    if i.startswith("t") == True:
        print(i)

tomas

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]

squared_numbers = [number ** 2 for number in numbers]

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [17]:
numbers = [1,2,3,4,5,6,7,8,9,10]
filtrado = []
for num in numbers:
     if num %2 != 0:
            filtrado.append(num)
print(filtrado)

squared_filtrado = [number ** 2 for number in filtrado]

print(squared_filtrado)

[1, 3, 5, 7, 9]
[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [13]:
listade8 =[]
for num in range(1,1001):
    if num %8 == 0:
        listade8.append(num)

In [14]:
print(listade8)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

## People

In [16]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [21]:
len(people)

5

**How many people have kids**?

In [22]:
kids = 0 

for p in people: 

    if p["n_kids"] > 0:

        kids += 1

In [23]:
kids

4

**How many kids do they have in total?**

In [32]:
kids_total = 0
for i in people:
    kids_total += i['n_kids']
print(kids_total)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [34]:
for i in range(0,len(people)):
    person=people[i]
    name=person["name"]
    if name[-1] == 'a':
        people[i]['n_kids'] +=1
people_in_a_year = people
print(people_in_a_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]